.contact{
    display:flex;
    flex-direction:column;
    justify-content:center;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    .contact-form{
        display: flex;
        width:25%;
        flex-direction: column;
        height:90%;
        justify-content: space-evenly;
        background-image:linear-gradient(to bottom right,#757ab8, #919db6) ;
        border-radius:18px;
        padding:0 46px 0 20px;
        .input{
            color:#838CB7;
            
        }
    }
    .resume{
        position: relative;
        top: 116px;
        right: 134px;
        height: 60px;
    }
}