@import "../assets/fira-font/stylesheet.css";
@import "./Variables.scss";


body{
  background-color: #25274d;
  font-family: "Fira Code";
}
.App {
  
  text-align: center;
  color:#f7f8f8;
}

@mixin fillScreen {
  width:100%;
  height: 100vh;
  z-index: 2;
}

// @mixin div-same-size-as-background-img() 
//   { 
//     background-repeat: repeat-y; 
//     width: 100%; 
//     height: 0; 
//     padding-top:3023px; 
//   }
// // ======================================================Parallax Background=================================================================================

// .bg{
//   position: absolute;
//   top:0;
//   left:0;
//   background-size: contain; 
//   background-repeat: repeat-y; 
//   width: 100%; 
//   z-index: -1;
// }
// .parallax{
//   @include div-same-size-as-background-img();
//   position: absolute;
//   top:0;
//   height:stretch;
//   z-index: -2;
//   div{
//     position: absolute;
//     div{
//       div{
//         background-position-y: start;
//       }
//     }
//   }
// }


.parallax{
  
  svg{
      @media (max-width:$tablet){
        height:fit-content;
        
    }
  }
}
.main{
  position: relative;
  top:0;
  left:0;
 
}



h2{
  font-size: 40px;
  margin-top:0;
}



.about{
  @include fillScreen();
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  &__content{
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    margin: auto 10%;
    align-items: center;
    @media (max-width: $mobile) {
      flex-direction: column-reverse;
      justify-content: flex-end;
    }
    p{
      width:60%;
      @media(max-width: $tablet){
        font-size: 14px;
      }
      @media(max-width: $mobile){
        width:90%;
      }
      
      
    }
    &__imgdiv{
     
      img{
        border-radius:50%;
        width: 300px;
        height:300px;
        @media(max-width: $laptop){
          width: 200px;
          height:200px;
        }
        @media(max-width: $tablet){
          width: 150px;
          height:150px;
        }
        @media (max-width: $mobile){
          width: 120px;
          height:120px;
        }
      }
    }
  }
}

.skills-container{
  @include fillScreen()
}

