@import './App.scss';
@import "../assets/fira-font/stylesheet.css";

.contact{
    @include fillScreen();
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    @media (max-width: $mobile) {
        h2{
            margin-bottom: 12px;
        }
    }
    .content{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      @media (max-width: $mobile) {
        flex-direction: column;
    }
      form{
        width: 50%;
        display: flex;
        flex-direction: column;
        @media (max-width: $tablet) {
            width:70%;
          }
        @media (max-width: $mobile) {
            width: 90%;
            margin: auto;

        }
        label{
          display: flex;
          flex-direction: row;
          text-align: left;
          justify-content: space-between;
          margin-bottom: 24px;
          @media (max-width: $mobile) {
            flex-direction: column;
            margin-bottom: 12px;
        }
          input{
            width: 70%;
            height: 40px;
            font-family: "Fira Code";
            border-radius: 5px;
            border:none;
            padding-left: 16px;
            @media (max-width: $mobile) {
                width: 90%;
            }
          }
          textarea{
            padding-left: 16px;
            padding-top: 12px;
            font-family: "Fira Code";
            height:20vh;
            width: 70%;
            border-radius: 5px;
            @media (max-width: $mobile) {
                width: 90%;
            }
          }
  
        }
        input[type="submit"]{
          width:50%;
          height:48px;
          border-radius: 5px;
          align-self: flex-end;
          background-color: #2e9cca;
          border:none;
          color: #25274d;
          font-family: "Fira Code";
          font-weight: 300;
          font-size: 24px;
          @media (max-width: $mobile) {
            width: 100%;
            margin: auto;
            
        }
        }
      }
      .ResumeForm{
          width:25%;
        @media (max-width: $mobile) {
            width: 90%;
            margin: auto;
            
        }
          form{
              width:100%;
          }
      }
      button{
        height: fit-content;
        min-height: 48px;
        padding:0;
        width: 100%;
        max-width: 256px;
        background-color: #2e9cca;
        color:#25274d;
        border:none;
        font-family: "Fira Code";
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        @media (max-width: $mobile) {
            width: 100%;
            font-size: 24px;
            font-weight: 300;
            margin: 12px auto;
            max-width: 350px;
        }
        svg{
          height:24px;
          width:24px;
          margin-left:12px;
        }
      }
    }
  }