@import "../Variables.scss";
@import '../App.scss';

.skills{
    display: flex;
    flex-direction: row;  
    justify-content: center;
    align-items: stretch;
    height:80%;
    @media(max-width: $mobile) {
      flex-direction: column;
      justify-content: flex-start;
    }
    .stack{
        width: 25%;
        height: 100%;
        min-height: 80%;
        padding: 40px 0px;
        @media(max-width: $tablet) {
          max-height: 510px;
          height:70%;
        }
        @media(max-width: $mobile) {
          min-height: 30%;
          width: 90%;
          h3{
            margin:12px;
          }
        }
        background-image:linear-gradient(to bottom right,#757ab8, #919db6) ;
        border-radius:15px;
        margin:0px 24px 24px 24px;
        color: #25274d;
        align-items: flex-start;
      &__list{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
        @media(max-width: $mobile) {
          flex-wrap: nowrap;
        }
        .skill{
          list-style-type: none;
          margin: 8px 20px;
          border-radius:20px;
          padding: 4px 4px;
          //box-shadow:-2px 1.5px 0px 0px rgba(0, 0, 0, 0.1);
          @media(max-width: $laptop) {
            margin:4px 4px;
          }
          @media(max-width: $tablet) {
            margin:8px 14px;
          }
          @media(max-width: $mobile) {
            margin:6px 8px;
            
          }
        
          &__img{
            width: 4.5rem;
            height: 4.5rem;
            margin: 0 5px;
            @media(max-width: $laptop) {
              width:3.1rem;
              height: 3.1rem;
            }
            @media(max-width: $tablet) {
              width:2rem;
              height: 2rem;
            }
          }
          h6{
            font-size:16px;
            margin:1%;
            @media(max-width: $laptop) {
              font-size: 14px;
            }
            @media(max-width: $mobile) {
              font-size: 12px;
            }
          }
        }
      }
    }
    
  }