@import "./assets/fira-font/stylesheet.css";

body{
  background-color: #25274d;
  font-family: "Fira Code";
}
.App {
  text-align: center;
  color:#f7f8f8;
  
}

@mixin fillScreen {
  width:100%;
  height: stretch;
  z-index: 2;

}

@mixin div-same-size-as-background-img() 
  { 
    // background-image: url($url); 
     
    background-repeat: repeat-y; 
    width: 100%; 
    height: 0; 
    padding-top:3023px; 
  }
// ======================================================Parallax Background=================================================================================

.bg{
  position: absolute;
  top:0;
  left:0;
  background-size: contain; 
  background-repeat: repeat-y; 
  width: 100%; 
  z-index: -1;
    // height: 0; 
    // padding-top:3600px; 
}
.parallax{
  @include div-same-size-as-background-img();
  position: absolute;
  top:0;
  height:stretch;
  width:100%;
  z-index: -2;
  div{
    position: absolute;
    div{
      div{
        background-position-y: start;
      }
    }
  }
  // &__layer-1{
  //   @include div-same-size-as-background-img("./assets/bg/smallrecs.svg")
  // }
  // &__layer-2{
  //   @include div-same-size-as-background-img("./assets/bg/medrecs.svg");
  // }
  // &__layer-3{
  //   @include div-same-size-as-background-img("./assets/bg/largerecs.svg");
  // }
}



// ======================================================Parallax Background=================================================================================
.main{
  scroll-snap-type: y mandatory;

}

h1{
  font-size: 60px;
}

.home{
  @include fillScreen();
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about{
  @include fillScreen();
  width: 100%;
  height: stretch;
  display: flex;
  align-items: center;
  flex-direction: column;
  &__content{
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
    margin: auto 120px;
    p{
      width:60%;
      align-self: center;

    }
    &__imgdiv{
      border-radius:50%; 
      overflow: hidden;
      img{
        width: 300px;
        height:300px;
      }
    }
    

  }

}

.skills{
  @include fillScreen();
  display: flex;
  flex-direction: row;  
  justify-content: center;
  .stack{
    width: 25%;
    background-color: #aaabb885;
    border-radius:15px;
    margin:24px 24px 24px 24px;
    &__list{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      .skill{
        list-style-type: none;
        margin: 10px 20px;
        &__img{
          width:5rem;
          height: 5rem;
        }
      }
    }
  }
}

.projects_container{
  @include fillScreen();
  ul{
    margin-top:12%;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    li{
      background-color: #a1a1c2;
      border-radius:15px;
      list-style-type: none;
      width:30%;
    }
  }
}

.project{
  width:100%;
  h2{
    text-align: left;
    
  }
  img{
    width:90%;
  }
  &__content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: left;
    width: 90%;
    margin: auto;
    svg{
      width:36px;
      height:36px;
    }
  }
}

.contact{
  @include fillScreen();
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  .content{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    form{
      width: 50%;
      display: flex;
      flex-direction: column;
      label{
        display: flex;
        flex-direction: row;
        text-align: left;
        justify-content: space-between;
        margin-bottom: 24px;
        input{
          width: 70%;
          height: 48px;
          border-radius: 5px;
          
        }
        textarea{
          height:180px;
          width: 70%;
        }

      }
      input[type="submit"]{
        width:50%;
        height:48px;
        border-radius: 5px;
        align-self: flex-end;
        background-color: #2e9cca;
        border:none;
        color: #25274d;
        font-family: "Fira Code";
        font-weight: medium;
        font-size: 24px;
      }
    }
  }
}