
.App {
  text-align: center;
  background-color: #25274d;
  color:#2e9cca;
}

@mixin fillScreen {
  width:100%;
  height: stretch;
}

.home{
  @include fillScreen();
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about{
  @include fillScreen();
  width: 100%;
  height: stretch;
  display: flex;
  align-items: center;
  flex-direction: column;
  &__content{
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
    margin: auto 120px;
    p{
      width:60%;
      align-self: center;

    }
    &__imgdiv{
      border-radius:50%; 
      overflow: hidden;
      img{
        width: 300px;
        height:300px;
      }
    }
    

  }

}

.skills{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  .stack{
    width: 25%;
    background-color: #aaabb865;
    border-radius:15px;
    &__list{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      .skill{
        list-style-type: none;
        margin: 10px 20px;
        &__img{
          width:100px;
          height: 100px;
        }
      }
    }
  }
}