@import "./assets/fira-font/stylesheet.scss";
@import './Variables.scss';

body {
  margin: 0;
  font-family: "Fira Code";
  background-color: #25274d;
}
.App { 
  text-align: center;
  color:#f7f8f8;
}
.main{
  position: absolute;
  height:auto;
  z-index: 2;
}
.bg{
  position: absolute;
  z-index: -2;
}

.page {
  min-height: 100vh;
  scroll-snap-type:y mandatory;
  display: flex;
  justify-content:center;
  flex-direction:column;
}
.background{
  width: 100%;
  overflow: hidden;
  .parallax {
    position: absolute;
    margin:auto;
  }
}
h2{
  font-size: 40px;
  margin-top:0;
}