@import "../Variables.scss";

h2{
  margin-bottom: 16px;
}

.projects{    
    ul{
        margin-top:4%;
        padding-left: 0;
        flex-direction: row;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        li{
          opacity: 0.8;
          background-image:linear-gradient(to bottom right,#757ab8, #919db6) ;
          border-radius:15px;
          list-style-type: none;
          width:30%;
        }
    }
  }
  
  .project{
    color:#241864;
    width:100%;
    h2{
      text-align: left;
      
    }
    img{
      width:90%;
    }
    &__content{
      display: flex;
      align-items: center;
      justify-content: space-around;
      text-align: left;
      width: 90%;
      margin: auto;
      @media (max-width: $tablet) {
        flex-direction: column;
        justify-content: space-between;
        height:30%;
      }
      .actions{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
      svg{
        width:36px;
        height:36px !important;
        
      }
    }
    .buttons{
      display: flex;
      flex-direction: row;
      align-items: center;
      margin:0 20px 0 12px;
      p{
        text-align: left;
        width:64%;
        height: none;
        overflow: hidden;
      }
      a{
        cursor: pointer;
        img{
          height:24px;
          width: 24px;
        }
      }
    }
  }
.StackList{
  width:98%;
  margin: auto;
  margin-bottom: 12px;
  border:2px solid #241864;
  border-radius: 5px;
  img{
    height:28px;
    margin:4px;
  }
}

  .ProjectMobile{
    height:75%;
    // .CarouselMobile{
    //   height:200px;
    //   width:300px;
    //   img{
    //     height:200px;
    //   width:300px;
    //   }
    // }
  }



  ////////////////////////////////Stack icons
  /// 
  .StackList{
    width:98%;
    margin: auto;
    margin-bottom: 12px;
    border:2px solid #241864;
    border-radius: 5px;
    img{
      height:28px;
      margin:4px;
    }
  }
  .stack-container{
    min-width:28%;
    position:relative;
    margin:16px 12px;
    display:flex;
    flex-direction: column;
    flex-wrap:no-wrap;
    justify-content:space-evenly;
    align-items:center;
    height:78%;
    border:4px solid #25274d;
    border-radius:16px;
    .icons{
      display:flex;
      flex-wrap: wrap;
      justify-content:center;
      .icon-container{
        width:38%;
        margin:10px;
        display:flex;
        flex-direction:column;
        justify-content:flex-start;
        align-items:center;
        // [theme.breakpoints.down('sm')]: {
        //     margin:0;
        //   },
        .icon {
            height:60px;
            margin:0;
            max-width:100px;
            // [theme.breakpoints.down('sm')]: {
            //     height:"35px";
            //   },
            
        }
        .icon-name{
            display:block;
            text-align:center;
        }
      }
    }
  }
  


////////////////////////////////////////////////////////////////Project DIalog
.Dialog{
  
  .MuiDialog-paper{
    padding:8px;
    background-image:linear-gradient(to bottom right, rgb(117, 122, 184), rgb(145, 157, 182));
  }
}
.close-button {
  position:absolute;
  right: 12px;
  top: 12px;
}

.title{
  color:#241864;
  margin-left:2%;
  margin-top:2%;
  margin-bottom:0;
}
.container{
  width:100%;
  height:88vh;
  display:flex;
  color:#241864;
}
.mainContent{
  padding:1rem;
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:flex-start
}
.buttons{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  svg{
    height:24px;
   // padding:theme.spacing(1)
  }
}
.button{
  margin:3px;
    }
.Carousel{
  
}
.description{
  align-self:flex-start;
  width:fit-content;
  margin-bottom:16px;
}